:root{
		--preto-claro: #464646;
		--azul1: #2A7AE4;
		--branco: #FFFFFF;
		--azul-claro: #EAF2FD;
		--cinza-background: #E5E5E5;
		--cinza-letra:   #A2A2A2;
	}

	body {
		background-color: var(--cinza-background);
		margin: 0;
		padding: 0;
	}

	#cabecalho{
		position: relative;
		background-color: var(--branco);
		width: 100%; 
		height: 100px;		
	}

	.icone{
		position: relative;
		top: 37%;
    	left: 28%;
	}

	.barra-de-pesquisa{
		padding: 5px 10px;
   		padding-right: 36px;
		gap: 8px;
		border-radius: 2em;
		border-style: solid;
		border-color: var(--cinza-background);
		background-color: var(--cinza-background);
		position: relative;
		top: 38%;
		left: 30%;
		width: 250px;
		height: 30px;
	}

	#lupa{
		position: absolute;
		margin-left: 338px;
    	margin-top: 41px;
	}











#faleConosco{
		background-color: var(--azul-claro);
		margin-top: 60px;
	}

	.informações {
		padding: 41px;
		height: 331px;
	}

	.logo{
		display: inline-block;
		margin-left: 10%;
		margin-right: 3%;
	}

	#agrupaLogo{
		position: relative;	
		bottom: 118px;
	}
	
	.informaçõesLinks{
		display: inline-block;
		width: 50%;
		height: 50%;
		font-size: 20px;
	}

	.linkFooter{
		position: relative;
		display: block;
		margin: 2% 0 2% 0;
		text-decoration: none;
		color: var(--preto-claro);
	}

	.inputs{
		position: relative;
		left: 735px;
    	bottom: 190px;
    	width: 198px;
	}

	#input1{
		display: block;
		width:372px;       
		padding-bottom: 24px;
		margin: 19px 0 18px 0;
		border: none;
	}

	#input2{
		display: block;
		width:372px;       
		height:90px;
		border: none;
		resize: none;
		font-family: arial;
	}

	#botão{
		margin-top: 18px;
		padding: 15px 40px 15px 40px;
		background-color: var(--azul1);
		color: var(--branco);
		border: none;
		transition: background-color .3s easy;
		cursor: pointer;
	}

	#botão:hover {
		background-color: var(--preto-claro);
	}

	#footer{
		background-color: var(--branco);
		padding: 30px 300px;
		text-align: center;
	}